{{> header}}
<div class="subtitle">
    <h2 class="searchtitle">{{title}}</h2>
</div>
<div class="description"><p>{{description}}</p></div>
<div class="time"><p>{{time}}</p></div>
<div class="ingredients">
    {{#each ingredients}}
        <div class="ingredient">
            <p>{{quantity}} {{name}}, {{description}}
        </div>
    {{/each}}
</div>
<div class="instructions">
    <p>{{instructions}}</p>
</div>
