{{> header}}
<div class="subtitle">
    <h2 class="searchtitle">{{title}}</h2>
</div>
<div class="description"><p>{{description}}</p></div>
  <img class="resultsphoto" src='/{{photo}}'>
<div class="time"><p>{{time}}</p></div>
<div class="ingredients">
    {{#each ingredients}}
        <div class="ingredient">
            <p>{{quantity}} {{description}} {{name}} </p>
        </div>
    {{/each}}
</div>
<div class="instructions">
    <p>{{{escapeLine instructions}}}</p>
</div>
