<div class="title">
    <h1 class="maintitle">Recipe Book</h1>
</div>
<div class="subtitle">
    <h2 class="searchtitle">{{title}}</h2>
</div>
<div class="description"><p>Description</p></div>
<div class="time"><p>{{time}}</p></div>
<div class="ingredients">
    {{#each}}
        <div class="ingredient">
            <p>{{quantity}} {{name}}, {{description}}
        </div>
    {{/each}}
</div>
<div class="instructions">
    <p>{{Instructions}}</p>
</div>
